* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 50px auto;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #fefefe;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-direction: row;
}
.heading {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.card {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  border: 2px solid lightgray;
  background-color: #fff;
  width: 20%;
  transition: 0.4s;
  margin-bottom: 50px;
  border-radius: 15px 0 15px 0;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
}
.card .cardheader h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.cardheader {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  flex: 1;
  width: 100%;
  max-width: inherit;
  text-align: center;
  color: white;
  padding: 30px 10px;
  position: relative;
  border-radius: 15px 0 15px 0;
  overflow: hidden;
}

.cardbody {
  text-align: center;
  color: black;
  background-color: white;
  font-size: 18px;
  padding: 30px 10px;
}
.cardfooter {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 15px 0 15px 0;
}
.cardfooter button {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  text-align: center;
  color: white;
  padding: 0.5rem;
  outline: none;
  border: 0;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80%;
  }
}

.arrow {
  width: 200px;
  background-color: rgba(80, 165, 168, 1);
  padding: 10px;

  position: relative;

  border-radius: 10px;
  box-shadow: 5px 5px 15px lightblue;
}

.arrow::after {
  position: absolute;

  border-top: 0;
  border-left: 0;
  content: '';
  width: 25px;
  height: 25px;
  left: -5%;
  z-index: -1;
  top: 42%;
  transform: rotate(45deg);
  background-color: rgba(80, 165, 168, 1);
}
